<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <h2>Create your listing!</h2>

      <%= form_for @listing do |f|  %>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_field :description, { class: 'form-control', autofocus: 'autofocus' } %>
        </div>

        <div class="form-group">
          <%= f.label :cuisine %>
          <%= f.text_field :cuisine, { class: 'form-control' } %>
        </div>

        <div class="form-group">
          <%= f.label :min_party_size %>
          <%= f.number_field :min_party_size, { class: 'form-control' } %>
          <%= f.label :max_party_size %>
          <%= f.number_field :max_party_size, { class: 'form-control' } %>
        </div>
        <div class="form-group">
          <%= f.label :price_per_person %>
          <%= f.number_field :price_per_person, { class: 'form-control' } %>
        </div>

        <!-- adding the address autocomplete to this part of the project -->
        <div class="form-group">
          <%= f.label :address %>
          <%= f.text_field :address, { class: 'form-control' } %>
        </div>

        <div class="form-group">
          <label class="btn btn-primary">
              Upload image
              <span style="display:none;">
                <%= f.file_field :photo%>
              </span>
          </label>
          <span id="file_name_display">No File Chosen</span>
        </div>

        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit 'Create Listing', { class: 'btn btn-success float-left', style: 'width: 150px' } %>


      <% end %>

    </div>
  </div>
</div>


<script>

// todo : put in a js file
let elInputListingPhoto = document.getElementById('listing_photo');
elInputListingPhoto.addEventListener('input', (event) => { uploadOnChange() });

function uploadOnChange() {
    var filename = elInputListingPhoto.value;
    var lastIndex = filename.lastIndexOf("\\");
    if (lastIndex >= 0) {
        filename = filename.substring(lastIndex + 1);
    }

    if (filename == '') { filename = 'No File Chosen'; }

    document.getElementById('file_name_display').innerHTML = filename;
}


</script>

