<div class="content-wrapper">
  <div class="content">
    <div class="listing-image-bg col-sm-8">
      <div class="listing-image">
        <%=cl_image_tag(@listing.photo, class:"img-responsive img-rounded", alt:"Responsive image", id: "user-upload")%>
      </div>
    </div>
  <div class="form-group col-sm-4">
    <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
    <a href="#description"
     aria-controls="description"
     role="tab"
     data-toggle="tab"
    >Description</a>
   </li>
   <li role="presentation">
    <a href="#features"
     aria-controls="features"
     role="tab"
     data-toggle="tab"
    >Features</a>
   </li>
   <li role="presentation">
    <a href="#notes"
     aria-controls="notes"
     role="tab"
     data-toggle="tab"
     >Notes</a>
   </li>
   <li role="presentation">
    <a href="#reviews"
     aria-controls="reviews"
     role="tab"
     data-toggle="tab"
    >Reviews</a>
   </li>
  </ul>
  </div>
</div>
</div>

<div class="tab-content col-sm-4">
 <div role="tabpanel" class="tab-pane active" id="description">
  <%= render "booking_form" %>
 </div>
 <div role="tabpanel" class="tab-pane top-10" id="features">
  <ul class="listing-features">
        <li><%=@listing.min_party_size%>-<%=@listing.max_party_size%> people</li>
        <li>$<%=@listing.price_per_person%>per person</li>
        <li><%=@listing.cuisine%></li>
        <li><%=@listing.description%></li>
      </ul>
 </div>
 <div role="tabpanel" class="tab-pane" id="notes">
  ...
 </div>
 <div role="tabpanel" class="tab-pane" id="reviews">
  ...
 </div>
</div>

