<div class="content">
  <div class="main">
    <div class="container">

      <div class="row">
        <div class="show-banner" style="background-image: url('<%= cl_image_path @listing.photo %>')">
          <div class="banner-content">
            <h1><%=@listing.description%></h1>
            <a href="" class="btn-yours">Discover more</a>
          </div>
        </div>
      </div>

      <div class="row top-buffer">
        <div class="show-details col-sm-6">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#description"
              aria-controls="description"
              role="tab"
              data-toggle="tab"
              >Description</a>
            </li>
            <li role="presentation">
              <a href="#chef-info"
              aria-controls="chef-info"
              role="tab"
              data-toggle="tab"
              >Chef Info</a>
            </li>
            <li role="presentation">
              <a href="#booking"
              aria-controls="booking"
              role="tab"
              data-toggle="tab"
              >Booking</a>
            </li>
            <li role="presentation">
              <a href="#reviews"
              aria-controls="reviews"
              role="tab"
              data-toggle="tab"
              >Reviews</a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="description">
              <div class="card-body">
                <ul class="card-description">
                  <li><i class="fas fa-users"></i> <%=@listing.min_party_size%>-<%=@listing.max_party_size%> People</li>
                  <li><i class="fas fa-dollar-sign"></i><%=@listing.price_per_person%> per person</li>
                  <li><i class="fas fa-utensils"></i><%=@listing.cuisine%></li>
                  <li><i class="fas fa-info-circle"></i><%=@listing.description%></li>
                  <li><i class="fas fa-fire"></i>This listing is popular!</li>
                </ul>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane top-10" id="chef-info">
              <div class="card-body">
                <div class="profile text-center">
                  <div class="main">
                    <div class="main-content">
                      <%=cl_image_tag(@listing.user.photo, class: "avatar avatar-small")%>
                      <h2><%=@listing.user.name%></h2>
                      <p>wants to cook for you!</p>
                    </div>
                  </div>
                  <div class="stat">
                    <div class="stat-content">
                      <h3><%= @listing.bookings.count%></h3>
                      <p>bookings made on this listing</p>
                    </div>
                  </div>
                  <div class="description">
                    <div class="description-content">
                      <h3>More about <%=@listing.user.name%></h3>
                      <p class="text-justify">
                        <%=@listing.user.bio%>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="booking">
              <button type="button" class="btn btn-default" id="booking-button" onclick="toggleVisibility('sticky-form')">Book now</button>
            </div>
            <div role="tabpanel" class="tab-pane" id="reviews">
              ...
            </div>
          </div>
        </div>
        <div class="show-map col-sm-6 map-container">
          <div id="map" data-markers="<%= @markers.to_json %>"></div>
        </div>
      </div>

    </div>
    <div class="col-sm-5 col-sm-offset-8">
      <%= render "booking_form" %>
    </div>
  </div>
</div>







<script type="text/javascript">
  function toggleVisibility(id) {
    var e = document.getElementById(id)
    console.log(e.style.visibility)
    e.style.visibility = e.style.visibility == "visible" ? "hidden" : "visible"
  }
</script>

