<div class="content">
    <div class="banner w-100">
      <%=cl_image_tag(@listing.photo, class:"img-responsive", alt:"Responsive image")%>
    </div>

  <div class="listing-description col-sm-8">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#description"
          aria-controls="description"
          role="tab"
          data-toggle="tab"
          >Description</a>
         </li>
         <li role="presentation">
          <a href="#chef-info"
           aria-controls="chef-info"
           role="tab"
           data-toggle="tab"
          >Chef Info</a>
         </li>
         <li role="presentation">
          <a href="#booking"
           aria-controls="booking"
           role="tab"
           data-toggle="tab"
           >Booking</a>
         </li>
         <li role="presentation">
          <a href="#reviews"
           aria-controls="reviews"
           role="tab"
           data-toggle="tab"
          >Reviews</a>
        </li>
      </ul>
    <div class="tab-content">
 <div role="tabpanel" class="tab-pane active" id="description">
  <div class="card-wrapper">
      <div class="card">
          <div class="card-body">
            <ul class="card-description listing-features">
              <li><i class="fas fa-users"></i> <%=@listing.min_party_size%>-<%=@listing.max_party_size%> People</li>
              <li><i class="fas fa-dollar-sign"></i><%=@listing.price_per_person%> per person</li>
              <li><i class="fas fa-utensils"></i><%=@listing.cuisine%></li>
              <li><i class="fas fa-info-circle"></i><%=@listing.description%></li>
              <li><i class="fas fa-fire"></i>This listing is popular!</li>
            </ul>
        </div>
    </div>
  </div>
</div>
<div role="tabpanel" class="tab-pane top-10" id="chef-info">
<div class="card-wrapper">
    <div class="card">
        <div class="card-body">
          <ul class="card-description">
              <li><%=@listing.user.name %></li>
              <li><%=cl_image_tag(@listing.user.photo, class: "avatar avatar-small")%></li>
              <li><%=@listing.user.bio%></li>
              <li><%=@listing.user.age%></li>
            </ul>
        </div>
      </div>
    </div>
 </div>
 <div role="tabpanel" class="tab-pane" id="notes">
  ...
 </div>
 <div role="tabpanel" class="tab-pane" id="reviews">
  ...
 </div>
</div>

    </div>

    <div class="col-sm-4">
     <%= render "booking_form" %>
    </div>
  </div>
</div>

