<!-- <div class="demo-card-wide mdl-card mdl-shadow--2dp"> -->
<!--   <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Welcome</h2>
  </div> -->
  <div class="mdl-card__supporting-text" style="width: 100%;">
    <li class="mdl-list__item mdl-list__item--three-line mdl-shadow--2dp booking-list-item">
      <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-avatar">person</i>
        <span>Booked with : <%= booking.listing.user.name %></span>
        <span class="mdl-list__item-text-body">
          <span>
            <%= booking.reservation_date.strftime('%A, %b %d') %>, at <%= booking.reservation_time.strftime('%I:%M %p') %>
            <br>
            Guest count : <%= booking.guests_count %>, Price per person : <%= booking.listing.price_per_person %><i class="material-icons" style="font-size: 12px !important">attach_money</i>
          </span>
        </span>
      </span>
      <span class="mdl-list__item-secondary-content">
        <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
      </span>
    </li>
  </div>
  <div>

  <div class="chat-message-container mdl-shadow--2dp">
  <%= render 'user/booking_messages', booking: booking %>
  </div>

  <%= form_for [booking.listing, booking, @message] do |f| %>

    <div class="row">
      <div class="col-xs-7 col-xs-offset-1">
        <div class="mdl-textfield mdl-js-textfield">
          <%= f.text_field :content, class: 'mdl-textfield__input' %>
          <label class="mdl-textfield__label" for="sample5">Enter your message...</label>
        </div>
      </div>
      <div class="col-xs-2">
       <%= f.submit 'Send', { class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent', remote: true, style: 'width: 150px; margin-top: 15px;' } %>
      </div>

    <% end %>
  </div>
 </div>
