<!-- Simple header with scrollable tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title"><%= current_user.name.capitalize %>'s Dashboard</span>
    </div>

    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Profile</a>
      <a href="#scroll-tab-2" class="mdl-layout__tab">Listings</a>
      <a href="#scroll-tab-3" class="mdl-layout__tab">Bookings</a>
      <% if current_user.listings.any? %>
        <a href="#scroll-tab-4" class="mdl-layout__tab">
          <span class="mdl-badge" data-badge="2">Your soirées</span>
        </a>
      <% end %>
    </div>


  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">My Account</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Billing</a>
        <a class="mdl-navigation__link" href="">Contact</a>
        <a class="mdl-navigation__link" href="">About</a>
      </nav>
  </div>
  <main class="mdl-layout__content">
    <!-- EDIT PROFILE TAB -->
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
      <div class="page-content">
        <%= render 'devise/registrations/edit', resource_name: current_user, resource: @resource ||= User.new, devise_mapping: @devise_mapping ||= Devise.mappings[:user] %>
      </div>
    </section>
    <!-- LISTINGS TAB -->
    <section class="mdl-layout__tab-panel" id="scroll-tab-2">
      <div class="page-content">
        <%= render 'user/listings' %>
      </div>
    </section>
    <!-- BOOKINGS TAB -->
    <section class="mdl-layout__tab-panel" id="scroll-tab-3">
      <div class="page-content">
        <%= render 'user/bookings' %>
      </div>
    </section>
    <!-- SOIREES TAB -->
    <% if current_user.listings.any? %>
      <section class="mdl-layout__tab-panel" id="scroll-tab-4">
        <div class="page-content">
          <%= render 'user/booking_chef' %>
        </div>
      </section>
    <% end %>


    <!-- <section class="mdl-layout__tab-panel" id="scroll-tab-2">
      <div class="page-content">Your content goes here</div>
    </section> -->

  </main>
</div>


<script>

  const setActiveTab = (tab_id) => {
    localStorage.setItem("activeTab", tab_id);
  }

</script>
